@model SalonV2.Models.Uslugi

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Uslugi</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nazwa)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nazwa)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Cena)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Cena)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DataRozpo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DataRozpo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DataZak)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DataZak)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Produkty)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Produkty)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Uwagi)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Uwagi)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Klienci)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Klienci.Imie)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.UslugiId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
